<div class="d-flex flex-row m-4 justify-content-center">
    <div class="m-2">
        <img src="../../../assets/profile_placeholder.png" width="150" height="150" />
    </div>

    <div class="m-2">
        <h4>{{ user.username }}</h4>
        <p>{{ user.name }}</p>
        <p>Website: {{ user.website }}</p>
        <p>Bio: {{ user.biography }}</p>
    </div>
</div>

<div *ngIf="!user.isPublic" class="d-flex justify-content-center">
    <h3>This profile is private</h3>
</div>

<div *ngIf="user.isPublic" class="d-flex justify-content-center">
    images placeholder
</div>

