<div>
    <h2>Nistagram Registracija</h2>
    
    <form [formGroup]="form" (submit)="submit()">
        <div class="form-group">
            <label for="username">Username</label>
            <input type="text" class="form-control" id="username" placeholder="Enter username" formControlName="username">
        </div>
    
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control" id="password" placeholder="Enter password" formControlName="password">
        </div>

        <div class="form-group">
            <label for="name">Name</label>
            <input type="text" class="form-control" id="name" placeholder="Enter name" formControlName="name">
        </div>

        <div class="form-group">
            <label for="email">Email</label>
            <input type="email" class="form-control" id="email" placeholder="Enter email" formControlName="email">
        </div>

        <div class="form-group">
            <label for="phoneNum">Phone number</label>
            <input type="text" class="form-control" id="phoneNum" placeholder="Enter phone number" formControlName="phoneNum">
        </div>

        <div class="form-group">
            <label for="dateOfBirth">Date of birth</label>
            <input type="date" class="form-control" id="dateOfBirth" placeholder="Enter date of birth" formControlName="dateOfBirth">
        </div>

        <div class="form-group">
            <label for="password">Biography</label>
            <input type="text" class="form-control" id="biography" placeholder="Enter biography" formControlName="biography">
        </div>

        <div class="form-group">
            <label for="password">Website</label>
            <input type="text" class="form-control" id="website" placeholder="Enter website" formControlName="website">
        </div>

        <div class="form-group">
            <input type="checkbox"  id="isAgent" formControlName="isAgent">
            <label for="isAgent">Are you an agent?</label>
        </div>
    
        <button type="submit" class="btn btn-primary" [disabled]="form.invalid">
            Register
        </button>
    </form>
</div>
